{% extends 'base.html' %}
{% block main %}
    <div id="toolbox">
        <ul class="tools">
            {% for post in latests %}
                <li>
                    <a target="blank" href={{ url_for('.post', path=post.path) }}>
                        <div class="icon">
                            <i class="fa fa-archive"></i>
                        </div>
                        <h4>{{ post.title }}</h4>
                        <p>
                        {% for tag in post.tags %}
                            {{ tag }}
                        {% endfor %}
                        </p>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
